## Initializing Spark

In [1]:
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from delta.pip_utils import configure_spark_with_delta_pip


class DataUtils:
 
    def initialize_spark():
        spark = (
            SparkSession
            .builder.master("local")
            .appName("myapp2")
            .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
            .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
        )
        spark = configure_spark_with_delta_pip(spark).getOrCreate()
        #spark.sparkContext.setLogLevel("ERROR")
        spark.conf.set("spark.sql.shuffle.partitions", 8)
        return spark

In [2]:
spark = DataUtils.initialize_spark()

23/11/21 08:32:42 WARN Utils: Your hostname, matheus-Aspire-A515-45 resolves to a loopback address: 127.0.1.1; using 192.168.2.7 instead (on interface wlp4s0)
23/11/21 08:32:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/matheus/.local/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/matheus/.ivy2/cache
The jars for the packages stored in: /home/matheus/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-cdcac031-47ae-4c3d-8bd3-f03a57eb49ca;1.0
	confs: [default]
	found io.delta#delta-core_2.12;2.4.0 in central
	found io.delta#delta-storage;2.4.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 252ms :: artifacts dl 12ms
	:: modules in use:
	io.delta#delta-core_2.12;2.4.0 from central in [default]
	io.delta#delta-storage;2.4.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-cdcac031-47ae-4c3d-8bd3-f03a57eb49ca
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/8ms)
23/11/21 08:32:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
import os
PATH_ROOT = os.getcwd() + '/'
PATH_RAW = PATH_ROOT + 'data/'
PATH_BASELINE = PATH_ROOT + 'baseline/'
PATH_PARTITION = PATH_ROOT + 'partition/'
PATH_ZORDER = PATH_ROOT + 'zorder/'

## Baseline

In [4]:
df_raw = (
    spark
    .read.format('json')
    .load(PATH_RAW)
)

In [5]:
(
    df_raw
        .write.format("delta")
        .mode("overwrite")
        .save(PATH_BASELINE)
)

23/11/21 08:33:02 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [6]:
df_baseline = (
    spark
    .read.format("delta")
    .load(PATH_BASELINE)
)

In [7]:
%%timeit
df_baseline.groupBy("City").count().orderBy(F.col('count').desc()).show()

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

1.09 s ± 105 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Partitions

In [8]:
(
    df_baseline
        .write.format("delta")
        .mode("overwrite")
        .option("overwriteSchema", "true")
        .partitionBy("City")
        .save(PATH_PARTITION)
)

In [9]:
df_partition = (
    spark
    .read.format("delta")
    .load(PATH_PARTITION)
)

In [10]:
%%timeit
df_partition.groupBy("City").count().orderBy(F.col('count').desc()).show()

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

5.91 s ± 449 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## ZORDER BY

In [11]:
(
    df_baseline
        .write.format("delta")
        .mode("overwrite")
        .save(PATH_ZORDER)
)

In [12]:
from delta.tables import *

deltaTable = DeltaTable.forPath(spark, PATH_ZORDER)
deltaTable.optimize().executeZOrderBy("City")

DataFrame[path: string, metrics: struct<numFilesAdded:bigint,numFilesRemoved:bigint,filesAdded:struct<min:bigint,max:bigint,avg:double,totalFiles:bigint,totalSize:bigint>,filesRemoved:struct<min:bigint,max:bigint,avg:double,totalFiles:bigint,totalSize:bigint>,partitionsOptimized:bigint,zOrderStats:struct<strategyName:string,inputCubeFiles:struct<num:bigint,size:bigint>,inputOtherFiles:struct<num:bigint,size:bigint>,inputNumCubes:bigint,mergedFiles:struct<num:bigint,size:bigint>,numOutputCubes:bigint,mergedNumCubes:bigint>,numBatches:bigint,totalConsideredFiles:bigint,totalFilesSkipped:bigint,preserveInsertionOrder:boolean,numFilesSkippedToReduceWriteAmplification:bigint,numBytesSkippedToReduceWriteAmplification:bigint,startTimeMs:bigint,endTimeMs:bigint,totalClusterParallelism:bigint,totalScheduledTasks:bigint,autoCompactParallelismStats:struct<maxClusterActiveParallelism:bigint,minClusterActiveParallelism:bigint,maxSessionActiveParallelism:bigint,minSessionActiveParallelism:bigint>,deletionVectorStats:struct<numDeletionVectorsRemoved:bigint,numDeletionVectorRowsRemoved:bigint>,numTableColumns:bigint,numTableColumnsWithStats:bigint>]

In [13]:
df_zorder = (
    spark
    .read.format("delta")
    .load(PATH_ZORDER)
)

In [14]:
%%timeit
df_zorder.groupBy("City").count().orderBy(F.col('count').desc()).show()

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

+-------------+-----+
|         City|count|
+-------------+-----+
|     Portland|  105|
|       Denver|   92|
|    San Diego|   91|
|      Seattle|   78|
|      Chicago|   64|
|       Austin|   49|
|      Houston|   40|
|San Francisco|   39|
|     Columbus|   39|
|  Minneapolis|   38|
|     Richmond|   36|
|   Cincinnati|   34|
| Indianapolis|   33|
|  Albuquerque|   32|
|    Charlotte|   32|
|    Cleveland|   31|
|      Spokane|   30|
|    Milwaukee|   29|
|  Saint Louis|   28|
| Grand Rapids|   28|
+-------------+-----+
only showing top 20 rows

749 ms ± 48.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [15]:
del df_raw, df_baseline, df_partition, df_zorder